<?xml version="1.0"?>
  <appSettings>

    <add key="ISSANDBOX"                            value="True"/>


    <add key="TestUserName_1"                       value="*REDACTED*"/>
    <add key="TestUserPassword_1"                   value="*REDACTED*"/>
    <add key="TestUserDescription_1"                value="*REDACTED*"/>

    <add key="TestUserName_2"                       value="*REDACTED*"/>
    <add key="TestUserPassword_2"                   value="*REDACTED*"/>
    <add key="TestUserDescription_2"                value="*REDACTED*"/>

    <add key="TestUserName_3"                       value="*REDACTED*"/>
    <add key="TestUserPassword_3"                   value="*REDACTED*"/>
    <add key="TestUserDescription_3"                value="*REDACTED*"/>
    

    <add key="recaptchaPublicKey"                   value="*REDACTED*"/>
    <add key="recaptchaPrivateKey"                  value="*REDACTED*"/>
    <add key="recaptchaApiVersion"                  value="*REDACTED*"/>
    
    
    <add key="FacebookAppID"                        value="*REDACTED*"/>
    <add key="FacebookAppSecret"                    value="*REDACTED*"/>
    
    
    <add key="JustGivingAppId"                      value="*REDACTED*"/>
    <add key="JustGivingURL"                        value="*REDACTED*"/>
    <add key="JustGivingAPIURL"                     value="*REDACTED*"/>
    
    
    <add key="FitbitAuthorizationUrl"               value="*REDACTED*"/>
    <add key="FitbitClientID"                       value="*REDACTED*"/>
    <add key="FitbitTokenURL"                       value="*REDACTED*"/>
    <add key="FitbitClientSecret"                   value="*REDACTED*"/>
    <add key="FitbitAPIURL"                         value="*REDACTED*"/>
    
    
    <add key="RunKeeperClientID"                    value="*REDACTED*"/>
    <add key="RunKeeperClientSecret"                value="*REDACTED*"/>
    <add key="RunKeeperAuthorizationURL"            value="*REDACTED*"/>
    <add key="RunKeeperAccessTokenURL"              value="*REDACTED*"/>
    <add key="RunKeeperDeAuthURL"                   value="*REDACTED*"/>
    <add key="RunKeeperAPIURL"                      value="*REDACTED*"/>
    
    
    <add key="SendGridAPIKey"                       value="*REDACTED*"/>


    <!--ACCOUNT CONFIG - https://account.live.com/developers/applications -->
    <add key="MicrosoftHealthClientID"              value="*REDACTED*"/>
    <add key="MicrosoftHealthClientSecret"          value="*REDACTED*"/>
    <add key="MicrosoftHealthAPIURL"                value="*REDACTED*"/>
    <add key="MicrosoftHealthAuthorizationURL"      value="*REDACTED*"/>
    <add key="MicrosoftHealthTokenURL"              value="*REDACTED*"/>
    
    
    <add key="LinkedInClientID"                     value="*REDACTED*"/>
    <add key="LinkedInClientSecret"                 value="*REDACTED*"/>

    <add key="googleClientID"                       value="*REDACTED*"/>
    <add key="googleClientSecret"                   value="*REDACTED*"/>

    
    <!--random crap-->
    <add key="webpages:Version"                     value="3.0.0.0"/>
    <add key="webpages:Enabled"                     value="false"/>
    <add key="ClientValidationEnabled"              value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled"         value="true"/>
    
  </appSettings>
 
