

   
    .corporate-partial h2{
        margin: 0
    }

    .corporate-partial .corporate-picture {
     max-width: 200px; padding: 20px   
    }

    .corporate-partial  .corporate-details {
       margin-left: 15px; margin-right: 15px 
    }

