

@model Calorie.Models.Misc.FAQSVM

@section localcss{
    <link rel="stylesheet" href="~/CSS/Home/FAQ.css">
}

<h2>Frequently Asked Questions</h2>
<br/>

<script src="~/Scripts/Calorie/Home/FAQ.js"></script>


<table class="table table-striped faq-table">
    <tbody>
    @foreach (var FAQ in @Model)
    {
        @Html.Partial("_FAQPartial", FAQ)
    }
    </tbody>
</table>


