 .pledgePartial2 {
        Height: 305px;
        /*border-style: dotted;*/
    }
    .center {
        margin-left: auto;
        margin-right: auto;    
        display: block;
        /*max-width: 120px;*/ 
        height: 50px;
        text-align: center;
    }
    .pledgeParial2Img {
        max-width: 100%;
        height: 75px;
        
    }
    .pledgePartial2-hr {
            margin: 10px 0 10px 0;
    }

    .pledgePartial2-small-margin-hr {
          margin: 1px;
    }

    .pledgePartial2-final-margin-hr {
          margin: 1px 1px 5px 1px;
    }

    .pledgePartial2 > .panel-body {
        padding:5px
    }

    .pledgePartial2  .team-image{
        height: 20px;
         margin: 0 2px 0 0;
    }

     .pledgePartial2  .hidden-icon{
         color: transparent;
    }

      .pledgePartial2  .expired{
          color: red;
    }