

  .create-activities input {
       width: 65% !important;
   }

     .create-activities select {
     width:35% !important; 
     color:black !important; 
     border-color:transparent !important
   }
