@model Calorie.Models.Charities.CharityVM


<a class="charity-partial-small" href="@Url.Action("Details", "Charities", new { charityname = Model.Charity.Name.Replace(" ", "") })">
    <div class="row">
        <div class="col-xs-12">
            <p class="text-center name" style="">@Model.Charity.Name</p>
        </div>
        <div class="col-xs-12">
            <img class="col-xs-6" style="" src="@Model.Charity.JustGivingCharityImageURL?template=size120x120&imagetype=charitybrandinglogo">
        </div>

    </div>
</a>


