

  .team-Partial .h2-teamName {
        margin: 10px 0 0 0
    }
    .team-Partial .teamStars {
        padding-right: 10px;
    }

    .team-Partial .team-availability {
        font-size: x-small;
    }

    .team-Partial .team-Image {
        max-width: 200px;
    }

    .team-Partial .team-Description {
        margin-left: 30px;margin-right: 30px
    }



.team-search-name {
    margin-top: 10px;
}

.team-tiny-imagediv {
    width: 55px;
}

.team-tiny-image {
    max-width: 50px;
}

.team-tiny-name {
    font-size: small; 
    padding-top:5px; 
    /*min-width:90px*/
}


.team-details-sponsorship-panel {
    height: 139px
}

.team-details-member-ordinal {
    font-size: x-small; 
    /*font-style: italic;*/ 
    font-weight: bold
}

.team-details-member {
    margin-bottom: 10px;
}

.team-details-joinrequest {
    margin-bottom: 10px;
}

.team-details-joinrequest-tickbox {
    -ms-opacity: 0;
    opacity: 0;
}


.editTeam #TeamnameInputResult {
 right: 15px   
}

.editTeam #TeamnameValidationMsg {
 margin: 0; margin-bottom: 10px; display: none; font-style: italic
}
