


    .likepanel {
        margin: 2px;padding: 0;
    }
     .sharebutton {      
        height: 30px;
        width: 32.5px;
        padding-left: 5px;
        padding-top: 0;
        font-size: 20px;
    }
  
    .sharetext {
        font-size: 11px;
        font-weight: bold;
        text-align: center;
         width: 18px;
    display: inline-block;
    margin-left: -5px;
    }
    .likebutton {
        border: 1px #ccc;
        border-style: solid;
        width: 44px;
      
    }


