@using Calorie.Models.Trackers
@model Calorie.Models.RegisterFurtherDetailsViewModel


<div class="row">
    <div class="col-xs-12">
        <h4><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;<i>Just need to get a few more details...</i></h4>
    </div>
</div>
<br/>
        
        <div class="panel panel-default">

            <div class="panel-body">
                <h4>Trackers</h4>
                <h6><i>you'll need to set up at least one tracker service to log your activities.</i></h6>
                <br />
                <div class="form-group">


                    <table class="table table-striped">
                        @{
                            var TL = new Calorie.BusinessLogic.Trackers.TrackerLogic();
                            foreach (var t in TL.Trackers)
                            {
                                <tr>
                                    <td>
                                        @Html.Partial("..\\Trackers\\_AddTrackerPartial", new AddTrackerVM()
                                           {
                                               ITracker = t,
                                               UserTracker = Model.User.Trackers.FirstOrDefault(uT => uT.Type == t.Type)
                                           })
                                    </td>
                                </tr>
                            }

                        }
                    </table>

                </div>

            </div>

        </div>

        @*Preferred Activities*@
        <div class="panel">
            <div class="panel-body">
                <h4>Preferred Activities</h4>
                <h6><i>Tell us what kind of activities you will typically be logging</i></h6>
                <br />
                
                @Html.Partial("..\\Pledges\\Activities\\_AllActivitiesPartial", "activityClicked(event)")
              
            </div>
        </div>
      

@using (Html.BeginForm("RegisterFurtherDetails", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div id="PreferredActivitiesList"></div>

    <div class="row">
        <div class="col-xs-12 ">
            <div class="pull-right">
                <div class="btn-group pull-right">
    
                    <input id="registerBtn" type="submit" class="btn btn-default pull-right" value="Done" />
                    <input id="registerBtn" type="submit" class="btn btn-default pull-right" value="Skip" />
                    
                </div>               
                
            </div>
        </div>

    </div>
}


<script src="~/Scripts/Calorie/Account/registerFurtherDetails.js"></script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

