    .user-partial {
        min-width:220px
    }

    .user-partial .pic {
        width:60px
    }

    .user-partial .info {
        font-size: x-small;
    }

    .user-partial .fa-black-tie {
        font-size: large;
    }

    .user-partial .team-pic {
        height: 20px;
    }
    