
    .popbackground {
        background-color: rgba(255, 255, 255, .9)
    }
    .forcetransparent {
        background-color: transparent !important;
    }

    .popbackground > .panel-body {
        padding:5px
    }

    .userpopup-smalltext {
        font-size:13px; text-align:left; padding-left:15px
    }

    .userpopup-teamimage {
        height:50px;
    }

    .userpopup-teamname {
        font-size:15px; text-align:left; line-height:30px
    }

    .userpopup-noaffiliation {
      font-size:9px; text-align:left
    }

    
.userPopUp {
  position: absolute;
  z-index: 1;
  padding: 5px;
  text-align: center;
  pointer-events: none;
  width:300px;
  opacity:1;
}

.userpopup-panel {
    height:290px;
    width:318px;
    background-color: white; /*rgba(0, 0, 0,0.3);*/
}

.userPopUp.userPopUp-hidden {
  opacity: 0;
}

.userPop-data{
       font-size:13px; 
 text-align:left; 
    padding-left:15px
}

.userPop-data > .fa{
    font-size:13px; 
    
}