

 .login-form-button {
            margin-bottom: 5px;
    }
    

     .rememberMeDiv {
         width: 120px;
     }
    

    .googleLoginImg {
        height: 18px;
        width: 18px;
    }

    .header {
        margin: 0;
        margin-bottom: 10px
        
    }

    .header-no-margin {
        margin: 0;
    }

    .register-link {
        margin-bottom: 5px;
    }
